@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
:root {
    --bg-color: #d90429;
    --secondary-color: #62163b;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Manjari",sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    width: 50rem;
    margin: 5rem auto;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
audio {
    width: 100%;
}
#songTitle {
    font-family: "Manjari";
}
.songDetails {
    width: 100%;
}
#lyrics {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 1rem;
}
.boxTitle {
    width: 100%;
}